<br />
<br />
<div class="wrapper">
  <div class="container welcome mt-5">
    <div>
      <h1>File management platform for user-generated content</h1>
      <p class="lead mt-4">
        Easily upload and manage your media collection all in one place.
      </p>
      <div class="text-center mt-4">
        <button
          class="btn btn-primary btn-primary btn-lg me-2"
          routerLink="home"
        >
          Get started
        </button>
        <button class="btn btn-primary btn-info btn-lg">Learn more</button>
      </div>
    </div>
  </div>
  <br />
  <div class="container features">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 mt-5">
      <div class="col">
        <div>
          <div>
            <div class="feature-img">
              <img
                src="https://fastupload.io/images/others/features/qhr5z8oZ1PwS9A7_1658144013.png"
                alt="Fast upload"
                title="Fast upload"
              />
            </div>
            <div>
              <h4 class="title">Fast upload</h4>
              <p class="text-muted mb-0">
                With our Media Library app, you can upload your media files
                quickly and easily, without any frustrating delays. Our advanced
                upload technology ensures that your files are processed as
                efficiently as possible, so you can spend less time waiting and
                more time enjoying your media.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <div>
            <div class="feature-img">
              <img
                src="https://fastupload.io/images/others/features/IB6G8QlP0kU8YH4_1658144152.png"
                alt="Multiple uploads"
                title="Multiple uploads"
              />
            </div>
            <div>
              <h4 class="title">Multiple uploads</h4>
              <p class="text-muted mb-0">
                Tired of uploading your media files one at a time? Our Media
                Library app makes it easy to upload multiple files all at once.
                Simply select the files you want to upload, and our app will
                take care of the rest. You can even mix and match different
                types of media files, like photos and videos, in the same upload
                batch.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <div>
            <div class="feature-img">
              <img
                src="https://fastupload.io/images/others/features/g26QgeLkmhZLkgs_1658144134.png"
                alt="Manage files"
                title="Manage files"
              />
            </div>
            <div>
              <h4 class="title">Manage files</h4>
              <p class="text-muted mb-0">
                Keeping track of all your media files can be a challenge, but
                our Media Library app makes it easy to stay organized. With our
                intuitive file management tools, you can sort, filter, and
                search your media files with ease. Need to find that one photo
                from your vacation last year? No problem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="heading mt-5">FAQ</h2>
    <div class="row faq mt-5">
      <div class="col s12 m4">
        <h6 class="title">How can I manage and view my media files?</h6>
        <p class="text-muted mb-0">
          The Media Library app allows you to list and sort all your media
          files, including audio, video, and images. You can also query your
          media files and preview them quickly for your convenience.
        </p>
      </div>
      <div class="col s12 m4">
        <h6 class="title">
          Can I delete my media files and restore them later if needed?
        </h6>
        <p class="text-muted mb-0">
          Yes, you can soft delete your media files in the app, and they will be
          moved to the Archive. From there, you can easily revert the deletion
          and restore your files if needed.
        </p>
      </div>
      <div class="col s12 m4">
        <h6 class="title">How scalable is the Media Library app?</h6>
        <p class="text-muted mb-0">
          We have ensured that the solution is highly scalable and can handle up
          to 1000 uploads per minute. This ensures that the app can accommodate
          the needs of its users, even as it continues to grow and expand.
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
